<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="">
</head>
<body>
   <h3>Welcome to the Signup page</h3>

   <form action = "/signin" method ="POST">
    {% csrf_token %}
        <label for = "">Username</label>
        <input type = "text" id = "username" name = "username" placeholder = "create a user name"> 
        <br>
        <label for = "">Password</label>
        <input type = "password" id = "pass1" name = "pass1" placeholder = "Enter your Password"> 
        <br>
       
        <button type = "Submit"> SignIn </button>
   </form>

   
</body>
</html>